body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #87ceeb, #00bfff);
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 80%;
}

.add-background {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 20px;
}

.add-background h2 {
  font-size: 1.5em;
  color: #00bfff;
}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-placeholder {
  width: 300px;
  height: 200px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00bfff;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
  background-color: #87ceeb;
}

.sample-backgrounds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sample-backgrounds h2 {
  font-size: 1.5em;
  color: #00bfff;
  margin-bottom: 20px;
}

.sample-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.sample-image {
  width: 150px;
  height: 100px;
  border: 1px solid #333;
}

.upload-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00bfff;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.upload-button:hover {
  background-color: #87ceeb;
}